body {
    font-size: 14px;
    font-family: "Open-Sans", serif;
}
.navbar-default .navbar-nav > .active > a {
    color: #399bd1;
    background-color: inherit;
}
.navbar-default .navbar-nav > .active > a:hover {
    color: #399bd1;
}
.navbar-default .navbar-nav > li > a:hover{
    cursor: pointer;
}
.navbar-default .navbar-nav > li {
    font-size: 1.5rem;
    font-weight: bold;
}
/*Jumbotron*/
.jumbotron{
    background-image: url("../images/jumbotron-bike.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    height: 44rem;
    color: white;
}
.jumbotron .container-fluid{
    padding: 11.85rem 0;
}
.jumbotron h1{
    font-family: "Monoton";
    font-size: 9rem;
    text-shadow: #000 -1px -1px 0;
}
@media screen and (max-width: 768px) {
    .jumbotron{
        padding-top: 130px;
    }
    .jumbotron h1{
        font-size: 6rem;
    }
}
.jumbotron p{
    max-width: 51.3rem;
}
.btn-primary{
    width: 11.4rem;
    padding: 1.3rem 0;
    margin-top: 2.8rem;
    background-color: #399bd1;
    box-shadow: rgba(0,0,0,0.5) 0 0 3px;
}
.btn-primary:hover{
    background-color: #399bd1;
    box-shadow: rgba(0,0,0,0.9) 0 0 12px;
    text-decoration: none;
}
.btn-primary:active{
    background-color: #399bd1;
    box-shadow: rgba(0,0,0,0.5) 0 0 0.5;
    text-decoration: none;
}
/*All Project Styling*/
.image-container img{
    width: 100%;
    opacity: 0.7;
}
.row-header{
    font-size: 2rem;
    color: #399bd1;
    font-weight: bold;
}
.categories{
    line-height: 1.4;
    color: rgba(0,0,0,0.7);
}
.projects{
    padding-bottom: 5.85rem;
}
.projects h3{
    font-weight: bold;
}
/*Having Trouble?*/
.trouble{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5.2rem 0;
    text-align: center;
    background-color: #f3f3f3;
}
.trouble h1{
    font-size: 4rem;
    margin-bottom: 1.4rem;
}
.trouble p{
    max-width: 42rem;
}