body {
    font-size: 14px;
    font-family: "Open-Sans", serif;
}
.navbar-default .navbar-nav > .active > a {
    color: #399bd1;
    background-color: inherit;
}
.navbar-default .navbar-nav > .active > a:hover {
    color: #399bd1;
}
.navbar-default .navbar-nav > li {
    font-size: 1.5rem;
    font-weight: bold;
}